body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.father{
    width: 1100px;
}
.wrap{
    height: auto;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 10px;
    background: lightgreen;
    border-radius: 10px;
    border: 5px solid #002a00;
    padding: 10px;
}
.post-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    height: 280px;
    background: #6fb76f;
    border: 3px solid #002a00;
    border-radius: 5px;
    padding: 5px;
}
h3{
    font-size: 20px;
    vertical-align: center;
    line-height: 20px;
    text-align: center;
}
p{
    font-size: 14px;
    vertical-align: center;
    line-height: 20px;
    text-align: center;
}
